<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

        <div style="margin-left: 15px;">
        <h6  style="color:black">
            <br><br>
            <p style="font-size: 25px" >Thank you for availing our service <b>{{username}}</b>. We're honoured!  </p>
            <br><br>
            <p style="font-size: 20px">Our team will reach out to you soon.</p>
        </h6>
    </div>
    <br>
        <a (click)="backHome()"><button class="au-btn-submit" style=" font-size:18px; border:white; width: 200px; height: 45px; background:rgb(0, 0, 0); color: white"  >Look for more Models!</button></a>
             
        </div>
    </div>
</div>