<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

        <div style="margin-left: 15px;">
        <h6  style="color:black">
            <br><br>
            <p style="text-align: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:orangered
            ;font-size: 35px; font-weight: 500;">What is included?</p>
            <br>
            <p style="text-align:center;font-size: 25px" >When you DriveYourWay a car, you do not have to make a down payment to make it yours. </p>
            <br><br>
            <p style="text-align:center ;font-size: 23px">You only pay a monthly fee that covers the following costs & benefits: </p>
        <br>
    </h6>
        <div>
            <h3 style="text-align:center ;font-size: 20px;color:black"><i style="font-size:20px ;color:#ff590a;" class="fas fa-wrench"></i>&nbsp;Servicing & Maintenance including tyres & battery</h3>
            <br>
            <h3 style="text-align:center ;font-size: 20px;color:black"><i style="font-size:20px ;color:#ff590a;" class="fas fa-road"></i>&nbsp;24x7 Roadside Assistance</h3>
            <br>
            <h3 style="text-align:center ;font-size: 20px;color:black"><i style="font-size:20px ;color:#ff590a;" class="fas fa-pen"></i>&nbsp;Comprehensive Zero dep insurance</h3>
            <br>
            <h3 style="text-align:center ;font-size: 20px;color:black"><i style="font-size:20px ;color:#ff590a;" class="fas fa-coins"></i>&nbsp;Road tax at time of vehicle registration</h3>
            <br>
            <h3 style="text-align:center ;font-size: 20px;color:black"><i style="font-size:20px ;color:#ff590a;" class="fas fa-headphones"></i>&nbsp;Dedicated Quiklyz Customer Support</h3>
        </div>
    </div>
    <br>

            <div style="display:flex;justify-content: center; " >
            <button routerLink="/payment" style="border-radius: 20px;width:400px;background:rgb(3, 133, 27);font-size: 26px;color: white;">
                Subscribe at  <i style="font-size:20px ;color:#ff590a;" class="fas fa-dollar-sign"></i>299/month
            </button>
    </div>
    <br>
            <div style="display:flex;justify-content: center; " >
                <button  routerLink="/payment"style="border-radius: 20px; width:400px;background:rgb(3, 133, 27);font-size: 26px;color: white;">
                    Subscribe at <i style="font-size:20px ;color:#ff590a;" class="fas fa-dollar-sign">&nbsp;&nbsp;</i>999/year
                </button>
        
     </div>
        </div>
    </div>
</div> 